doctype html
html
    head
        title Simple remote control UI
    body
        h1 Simple remote control UI
        p
            Yoctopuce Relays currently on-line:
            ul
                each serial in Relays
                    li = serial
